main {
    width: 100%;
    margin-top: 100px;
}

main .main-content__limiter {
    max-width: 1216px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #605CA8;
    text-align: center;
}

.main-content__carousel {
    width: 100%;
    height: 375px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carousel__arow-left, 
.carousel__arow-right {
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.carousel__arow-left img, 
.carousel__arow-right img {
    width: 100%;
    height: 100%;
}

.carousel__card {
    width: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.pregnant-info p {
    transform: translateY(13px);
}

.health-info p{
    transform: translateY(-17px);
}

.health-info img{
    transform: translateY(-13px);
}

.work-image {
    width: 147px;
    height: 158px;
}

.pregnant-image {
    width: 149px;
    height: 149px;
}

.health-image {
    width: 167px;
    height: 179px;
}

.carousel__card>p {
    font-size: 21px;
    color: #605CA8;
    line-height: 25px;
    font-weight: 600;
}

.carousel__card p:last-child {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 19px;
    color: #9D9D9D;
    font-weight: 400;
}

.main-content__destinies-cards {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-content__destinies-cards h2 {
    margin-bottom: 83.81px;
}

.destinies-cards__group {
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 71px;
}

.destinies-cards__location01,
.destinies-cards__location02 {
    width: 568px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;   
}

.destinies-cards__location01 {
    background-color: #605CA8;
    color: #FFFFFF;
}

.destinies-cards__location01 p:first-child {
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
}

.destinies-cards__location01 h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
}

.destinies-cards__location01 .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 344px;
}

.destinies-cards__location01 button,
.destinies-cards__location02 button  {
    width: 157.5px;
    height: 50px;
    background-color: #FFFFFF;
    color: #605CA8;
    font-size: 18px;
    line-height: 1px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.destinies-cards__location01 button img,
.destinies-cards__location02 button img {
    width: 15.44px;
    height: 15.44px;
}



.destinies-cards__location02 {
    background-color: #FDD782;
}


.destinies-cards__location02 p:first-child {
    color: #605CA8;
    line-height: 25px;
    font-size: 21px;
    font-weight: 400;
}

.destinies-cards__location02 h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    color: #605CA8;
}

.destinies-cards__location02 .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 344px;
    color: #605CA8;
}

.destinies-cards__location01 {
    background: #605CA8 url('../assets/imgs/dubai.png') 0% 0% no-repeat padding-box;
}

.destinies-cards__location02 {
    background: #FDD782 url('../assets/imgs/statue-of-liberty.png') 0% 0% no-repeat padding-box;
    background-position-y: bottom ;
}

.main-content__faq {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 50px;
}

.faq__text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    text-align: left;
}

.faq__text p {
    font-size: 21px;
    line-height: 29px;
    font-weight: 400;
    color: #605CA8;
}

.main-content__faq button {
    width: 525px;
    height: 80px;
    background-color: #605CA8;
    color: #FFFFFF;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0 auto;
}

.main-content__price-info {
    margin-top: 227px;
}

.price-info__cards {
    width: 100%;
    height: 307px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 79px;
    margin-top: 101.5px;
}

.main-content__price-info .card {
    width: 500px;
    height: 307px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #605CA8;
    color: #FFFFFF;
    border-radius: 10px;
}

.main-content__price-info .card p {
    font-size: 21px;
    line-height: 25px;
    font-weight: 400;
}

.main-content__price-info .card p:first-child {
    font-weight: 500 !important;
    margin-bottom: 20px;
}



.main-content__price-info .card h3 {
    font-size: 60px;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 20.5px;
}

.main-content__price-info .card h3:first-child {
    margin-bottom: 15px;
}

.main-content__contact {
    width: 100%;
    height: 280px;
    margin-top: 100.5px;
    background-color: #E3E3E3;
}

.contact__limiter {
    max-width: 1216px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 225px;
}

.contact__limiter__data  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 34px;
}

.contact__limiter__data p {
    font-size: 26px;
    line-height: 31px;
    color: #605CA8;
    font-weight: 500;
}

.data__input {
    position: relative;
}

.data__input input {
    width: 706px;
    height: 50px;
    padding: 16px 0px 15px 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #605CA8;

} 

.data__input input::placeholder {
    color: #605CA8;
}

.data__input button {
    position: absolute;
    height: 100%;
    width: 130px;
    right: 0;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #605CA8;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
}

.data__terms {
    transform: translateY(-19px);
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 6px;
}

.data__terms input {
    width: 20px;
    height: 20px;
    outline: 2px solid #8166AC;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.data__terms input:checked {
    background-color: #605CA8;
}

.data__terms label {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    transform: translateY(-2px);
    width: 680px;
}

.data__terms label span {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}






